*{
    /* padding ve border miktarının genişlik ve yüksekliğe eklenmemesi için */
    box-sizing: border-box;
}

h1{
    border:20px solid red;
    width:300px;
    height:300px;
    padding:20px;
    margin:40px;
   
}


div{
    border:10px solid blue;
    width:100px;
    height:100px;
    padding:10px;
    margin:40px;

      /*
  margin-top:40px;
  margin-right:40px;
  margin-bottom:40px;
  margin-left:40px;
  */
  
  /*

  ***
  top 40px, right 42px, bottom 50px, left 30px kısaltması
  margin:40px 42px 50px 30px;
  
  ***
  alt ve üst 40px, sağ ve sol 20px
  margin:40px 20px;
  


  *** üst 40px sağ ve sol 30px alt 56px

  margin:40px 30px 56px;
  */
  
   
}

