* {
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
}

section {
    border: 2px solid red;
    margin-bottom: 120px;
}

section .box {
    width: 100px;
    height: 100px;
    border: 2px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

section:first-child .box {
    transform: rotate(45deg)
}

section:nth-child(2) .box {
    transform: translate(100px, 50px)
        /*
    transform:translateX(200px);
    */
}

section:nth-child(3) .box {
    transform: scale(2)
        /*
    transform:scaleX(2);
    */
}

section:nth-child(4) .box {
    transform: translate(20px, 20px) rotate(10deg) scale(1.2)
        /*
    transform:scaleX(2);
    */
}