div{
    border: 10px solid red;
}

/*--- Header Styles  ---*/

header{
    border: 10px solid black;
}

/*--- main Styles  ---*/

main{
    border: 10px solid blue;
}

main p{
    color:pink;
}
main p a{ 
    color: yellow;
}
   

/*--- Footer Styles  ---*/

footer{
    border:10px solid green;
}
footer p{
    color: purple;
}
footer p a{
    color: aqua;
}
