div{
    border: 2px solid blue;
}

.container{
    width: 500px;
    height: 100px;
    margin: 100px auto;
    border-color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* bu bir flex container */
}

.box{
    width: 25%;
    height: 25%;
    margin: 24px;


    /* flex item */
}