h1 {
    font-size: 32px;
    border: 1px solid blue;
    /* vendor prefixes
    -webkit- (chrome, safari)
    -ms- (microsoft)
    -moz- (firefox)
    -o- (opera)

    */
    -webkit-border-border-radius: 24px;
    border-radius: 24px;
}

@supports(display: flex) {
    /*  */
}