
* {
   box-sizing: border-box;
}
h1 {
   font-size: 40px;
}
/*reset sıfırladığı için sıralama yapmak için;*/
ol{
   margin: 40px;
}

ol>li {
   list-style:decimal;
}
/*ebeveyninin ilk çocuğu olan li elemanı */
.my-list-1 li:first-child {
   color: rgb(47, 0, 255);
}
/*ebeveyninin son çocuğu olan li elemanı */
.my-list-1 li:last-child {
   color: rgb(255, 0, 8);
}

.my-list-1 li:nth-child(3) {
   color: yellow;
}
/*odd tek sayılar demek even çift sayılar demek */
.my-list-2 li:nth-child(odd) {
   color: brown;
}
.my-list-2 li:nth-child(even) {
   color: rgb(08, 09, 98);
}