*{
    box-sizing: border-box;
}

body{
    text-align: center;
}

div{
    border: 2px solid blue;
}

.container{
    width: 400px;
    height: 400px;
    border-color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    /* bu bir flex container */
}

.box{
    width: 50px;
    height: 50px;
    /* flex item */
}