*{
    box-sizing: border-box;
   
}

body{
    background-color: green;
}

@media screen and  (min-width:700px){
    body{
        background-color: cadetblue; /* 1001px - sonsuz*/
    }
}

@media screen and (min-width:1200px){
    body{
        background-color: orangered;
    }
}