h1 {
    font-size: 32px;
    border: 1px solid blue;
    /*vendor prefix
    -webkit- (chrome,safari)
    -ms- (microsoft)
    -moz- (firefox)
    -o- (opera)
    
    */

    -webkit-border-radius: 24px;
    border-radius: 24px;

}

@supports( border-radius:32px){

    /**/
}