* {
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
}


section {
    background-color: gray;
    margin: 48px;
    padding: 48px;
    border-radius: 16px;
}

section .container {
    border: 2px solid blue;
}
/* örnek 1 */
section:nth-child(1) .container {
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    padding: 24px 0;
    /* padding: 24px 0px 24px 24px; */
}

section:nth-child(1) .box {
    border: 2px solid red;
    width: 120px;
    height: 120px;
    /* margin-right: 24px; */
}

/* örnek 2 */

section:nth-child(2) .container{
    width: 50%;
    display: flex;
    justify-content: space-evenly;

}

section:nth-child(2) .box{
    border: 2px solid red;
    width: calc( ( 100% - 120px ) / 4 );
    height: 100px;
    margin: 24px 0;
    
}

/* örnek 3 */

section:nth-child(3) .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

section:nth-child(3) .box{
    border: 2px solid red;
    width: calc( ( 100% - 50px ) / 4 );
    height: 100px;
    margin: 24px 0;
    
}

/* örnek 4 */

section:nth-child(4) .container{
    display: flex;
    justify-content: space-between;

}

section:nth-child(4) .box{
    border: 2px solid red;
     /* (100% - toplam boşluk miktarı ) / boşluk sayısı) */
    width: calc( ( 100% - 48px ) / 3 );
    height: 100px;
    margin: 24px 0;
}