body{
    font-family: 'Roboto', sans-serif;
}

#page{
    border:2px solid red;
}



#page>header{
    border:2px solid blue;
}


main{
    border:2px solid blue;
}

#page>footer{
    border:2px solid blue;
}

