* {
   box-sizing: border-box;
}
h1 {
   font-size: 2rem;

}
section{
   background-color: antiquewhite;
   padding: 24px;

}
section > .container {
   border: 2px solid blue;
   width: 200px;
   padding: 24px;
   border-radius: 8px;
}
section:first-child > .container{
   height: 300px;
   /*gerekli olan yerde scroll verir*/
   overflow:clip;
}