* {
    box-sizing: border-box;
}


body {
    background-color: green;
}

@media screen and (min-width:700px) {
    body {
        background-color: blue;
    }
}

@media screen and (min-width:1000px) {
    body {
        background-color: purple;
    }
}