* {
   box-sizing: border-box;
}


.card {
   border: 1px solid gray;
   width: 300px;
}

.card > .content {
   display: flex;
   flex-direction: row;
   border: 2px solid yellow;
}

.card .content-left {
   background-color: pink;
   width: 70%;
   height: 200px;
   background-image: url(../img/01.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   
}

.card .content-right {
   background-color: lightgreen;
   width: 30%; 
}

.card > footer {
   border: 2px solid yellow;
   background-color: #333333;
   color: white;
}
.card > footer a {
   display: flex;
   justify-content: space-between;
   padding: 8px;
   color: white;
}
.card > footer .ghost {
   /*display:none da yazılabilir - aşağıya da block denecek*/
   opacity: 0;
}
.card > footer:hover .ghost{
   opacity: 1;
}