
     div { 
      padding: 50px; 
     }

     h1 {
      font-weight: bold;
     }

    header,main {
      border-bottom:3px solid blueviolet;
      padding-bottom:30px;
     }
     .colortext {
      color: blueviolet;
      font-weight: bold;     }

     div.box, div.box2{ 
        border: 3px solid green;
       padding: 30px ;
     }

     p.square,p.square2 { 
      border: 3px solid black;
      width: 100px;
      height: 100px;
      padding: 5px;
     }
     
     footer p {
     margin-top: 10px;
     }
     body {
      font-family: 'IBM Plex Mono', monospace;
     }  