
* {
   box-sizing: border-box;
}
.box {
width: 100px;
height: 100px;
padding: 5px;
border:5px solid red  ;
}
.box1{
margin: 30px 20px ;
}
.box2 { 
  margin: 40px 80px;
  border-color: blueviolet;}
.box3 {
   margin: 40px 150px;
   border-color: yellow;
}
 